<div class='card'>
    <a href='/beers/beer-{{this.id}}'>
        <picture>
            <img src='{{this.image_url}}' alt='{{this.name}}' />
        </picture>
        <div class='ID'>
            <h2>{{this.tagline}}</h2>
            <h3>{{this.name}}</h3></a>
            <p>{{this.description}}</p>
        </div>
    </a>
</div>